<div class="video">
  <% if @unlocked_video.present?  %>
      <iframe id="unlocked_iframe" class="big" src="<%= @unlocked_video.embed_url %>" frameborder="0" allowfullscreen>
    </iframe>
  <% else %>
    No video available
  <% end %>
</div>