// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$big_width: 560px
$big_height: 315px
$small_width: 300px
$small_height: 180px

img
    z-index: 0
.video
    width: 600px
    height: 400px

.video_layer
    width: $small_width
    height: $small_height
    position: absolute
    border: 1px solid black




.big
    width: $big_width
    height: $big_height
    z-index: 1
    position: relative

.small
    width: $small_width
    height: $small_height
    z-index: 1
    position: relative

.no-video
    width: $big_width
    height: $big_height
    background-color: black

.client-videos
    border: 1px solid red
    .small-video
        width: $small_width
        height: $small_height
        float: left
        margin: 5px

        .lock
            width: $small_width
            height: $small_height
            background-image: image-url("/assets/lock_s.png")
            background-position: center
            background-repeat: no-repeat
            position: absolute
            z-index: 99
        .img
            width: $small_width
            height: $small_height
            position: absolute

.clear
    clear: both